<!DOCTYPE html>
<html>
    <head>
        <title>LookUp PickUp</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css" rel="stylesheet">
        <link href="/main.css" rel="stylesheet">
        <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container" id="topbar">
            <div class="ui secondary pointing menu">
              <a href="/courts" class="active item">
                Browse
              </a>
              <% if(activeUser){ %>
                <a class="item">
                  Messages
                </a>
                <a class="item" href="/profile/<%= activeUser.username %>/<%= activeUser.id %>">
                  Profile
                </a>
              <% } %>
              <div class="right menu">
                <div class="item">
                  <div class="ui transparent icon input">
                    <input type="text" placeholder="Search..." name="query">
                    <a href="/search"><i class="search link icon"></i></a>
                  </div>
                </div>
              </div>
              <div class="right menu">
                <% if(!activeUser){ %>
                  <a class="ui item" href="/login">
                    Sign In
                  </a>
                  <a class="ui item" href="/signup">
                    Sign up
                  </a>
                <% } else { %>
                    <a class="ui item" href="/logout">
                      Logout
                    </a>
                    <% } %>
              </div>
            </div>
        </div>
        
