<!DOCTYPE html>
<html>
    <head>
        <title>LookUp PickUp</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css" rel="stylesheet">
        <link href="homepage.css" rel="stylesheet">
    </head>
    <body>
        <a class="ui right floated inverted button" href="/signup">Sign up</a>
        <a class="ui right floated inverted button" href="/login">Login</a>
        <h1 class="ui inverted header">LookUp PickUp</h1>
        <a style="z-index: 2;" class="ui animated fade button" tabindex="0" href="/">
              <div class="visible content">Look for a court to play in</div>
              <div class="hidden content">
                Ball in!
              </div>
        </a>
        
        <ul id="bg">
            <li></li>
        </ul>
    </body>

<% include partials/bot %>