<% include partials/top %>
<h1><%=user.username%></h1>

<h4>Bio</h4>
<% if(!user.description){ %>
    <p>User has not provided a bio</p>
<% } else { %>
    <p><%=user.description%></p>
<% } %>
<a class="ui button">Message <%=user.username %></a>



<% include partials/bot %>